
// primary-color
$red-5: hsl(7, 83, 63);
$red-4: hsl(7, 84, 71);
$red-3: hsl(6, 85, 78);
$red-2: hsl(7, 89, 86);
$red-1: hsl(6, 100, 94);
$red-0: rgb(255, 245, 245);

// action/alert
$blue: rgb(86, 132, 216);

// greyscale
$greyscale-9: hsl(335, 5%, 10%);
$greyscale-8: hsl(335, 5%, 20%);
$greyscale-7: hsl(335, 5%, 30%);
$greyscale-6: hsl(335, 5%, 40%);
$greyscale-5: hsl(335, 5%, 50%);
$greyscale-4: hsl(335, 5%, 60%);
$greyscale-3: hsl(335, 5%, 70%);
$greyscale-2: hsl(335, 5%, 80%);
$greyscale-1: hsl(335, 5%, 90%);

