
// primary-color
$primary-color-9: hsl(217, 45%, 10%);
$primary-color-8: hsl(217, 46%, 20%);
$primary-color-7: hsl(217, 49%, 30%);
$primary-color-6: hsl(217, 46%, 40%);
$primary-color-5: hsl(217, 46%, 50%);
$primary-color-4: hsl(217, 46%, 60%);
$primary-color-3: hsl(217, 46%, 70%);
$primary-color-2: hsl(217, 46%, 80%);
$primary-color-1: hsl(217, 46%, 90%);

$red-5: hsl(7, 83, 63);
$red-4: hsl(7, 84, 71);
$red-3: hsl(6, 85, 78);
$red-2: hsl(7, 89, 86);
$red-1: hsl(6, 100, 94);
$red-0: rgb(255, 245, 245);


// greyscale
$grey-9: hsl(45, 11%, 15%);
$grey-8: hsl(45, 10%, 22%);
$grey-7: hsl(45, 10%, 30%);
$grey-6: hsl(45, 10%, 38%);
$grey-5: hsl(45, 10%, 45%);
$grey-4: hsl(45, 10%, 55%);
$grey-3: hsl(45, 10%, 65%);
$grey-2: hsl(45, 10%, 80%);
$grey-1: hsl(45, 10%, 90%);

