@import './styles/reset-scss/';
@import './styles/colors.scss';
@import './styles/sizes.scss';
@import './styles/typography.scss';

* {
    box-sizing: border-box;
}

body, .button, input {
    font-family: 'Manrope', sans-serif;
}

h1 {
	font-size: 60px;
	font-family: 'Corben', cursive;
	color: $primary-color-5
}

h2 {
	font-size: 32px;
	font-family: 'Corben', cursive;
	color: $primary-color-5
}

h3 {
	font-size: 24px;
	font-family: 'Corben', cursive;
	color: $primary-color-5
}

.button {
	border-radius: 2px;
	border-style: none;
	box-shadow: 0 2px 2px $primary-color-1;
	width: 200px;
	padding: .5em;
	color: $primary-color-1;
	background-color: $primary-color-5;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	.welcome {
		margin-top: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 4em;
	}
}

.signin-signup {
	margin: 1.5em;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	.login, .signup{
		display: flex;
		align-items: center;
		flex-direction: column;
		h3{
			justify-self: center;
			font-size: 32px;
			padding-bottom: 1em;
		}
		form{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-bottom: 1em;
		}
		input{
			width: 300px;
			margin: .5em;
			padding: .5em;
		}
	}
}

.navbar {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 2em;
	background-color: $red-2;
	.link{
		padding-right: 20px;
		text-decoration: none;
		font-weight: 800;
		color: $primary-color-5;
	}
	.link:hover{
		text-decoration: underline;
	}
	p {
		font-size: 36px;
		padding-right: 20px;
		text-decoration: none;
		font-weight: 800;
		color: $red-1;
	}

}

.dashboard {
	min-height: 100vh;
	background-color: $red-1;
	color: $red-1;
	.announcements {
		padding: 2em;
		margin: 2em 2em 0 2em;
		background-color: $red-0;
		height: 20vh;
	}
	.dashboard-flex{
		display: flex;
		.birthday-container {
			width: 75%;
			padding: 2em;
			margin: 2em 0 2em 2em;
			background-color: $red-0;
			min-height: 20vh;
			.birthday-cards {
				margin: 1em 0;
				display: flex;
				flex-flow: row wrap;
				.birthday-card {
					text-align: center;
					border-radius: 2px;
					width: 300px;
					background-color: $primary-color-6;
					color: $red-0;
					padding: 1em;
					margin: 0 1em 1em 0;
					line-height: 2rem;
				}
			}
		}
	
		.new-birthday {
			width: 25%;
			background-color: $red-0;
			margin: 2em;
			padding: 2em;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			h3 {
				text-align: center;
			}
			.birthday-form {
				padding: 1em 1em;
				input {
					width: 100px;
					margin: .5em;
					padding: .5em;
				}
			}
		}
	}
}



